<div class="d-flex m-4">
    <div class="mr-1">
        <p><b>Ordenar per:</b></p>
    </div>
    <div class="dropdown show">
        <a class="btn  dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">Tria un opció</a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Hp</a>
            <a class="dropdown-item" href="#">Height</a>
            <a class="dropdown-item" href="#">Attack</a>
            <a class="dropdown-item" href="#">Speed</a>
        </div>
    </div>
    <div class="ml-4 mt-2">
        <input type="checkbox" class="form-check-input" id="mostrarestadisticas">
        <label class="form-check-label" for="mostrarestadisticas"> Mostrar estadistica</label>
    </div>
</div>
