<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Pokemon App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" (click)="Tipos('Home')" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="Tipos('Normal')" href="#">Normal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="Tipos('Fire')" href="#">Fire</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="Tipos('Water')" href="#">Water</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="Tipos('Electric')" href="#">Electric</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Altres tipus
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item"  (click)="Tipos('Grass')" href="#">Grass</a>
            <a class="dropdown-item" (click)="Tipos('Ice')" href="#">Ice</a>
            <a class="dropdown-item" (click)="Tipos('Fighting')" href="#">Fighting</a>
            <a class="dropdown-item" (click)="Tipos('Poision')" href="#">Poision</a>
            <a class="dropdown-item" (click)="Tipos('Ground')" href="#">Ground</a>
            <a class="dropdown-item" (click)="Tipos('Flying')" href="#">Flying</a>
            <a class="dropdown-item" (click)="Tipos('Psychic')" href="#">Psychic</a>
            <a class="dropdown-item" (click)="Tipos('Bug')" href="#">Bug</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" name="search" type="text" placeholder="Buscar els tipus de pokemons..etc"
          aria-label="Search" [(ngModel)]="search">
      </form>
    </div>
  </nav>
  <app-filtro></app-filtro>
  <div class="container-fluid">
      <div class="col-12">
            <div class="row ">
              <div *ngFor="let pokemon of listapokemons | PokemonFilterPipe:search | tipoP:tipo" style=" border: blue 1px solid; border-radius: 8px" class="mx-auto m-1 my-2 col-12 col-sm-6 col-md-6 col-lg-3 ">
              <app-etiquetas  [pokemon]="pokemon"></app-etiquetas>
          </div>
          </div>
      </div>
    </div>
