<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Pokemon App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" (click)="Tipos('Home')" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="Tipos('Normal')" href="#">Normal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="Tipos('Fire')" href="#">Fire</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="Tipos('Water')" href="#">Water</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="Tipos('Electric')" href="#">Electric</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Altres tipus
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item"  (click)="Tipos('Grass')" href="#">Grass</a>
            <a class="dropdown-item" (click)="Tipos('Ice')" href="#">Ice</a>
            <a class="dropdown-item" (click)="Tipos('Fighting')" href="#">Fighting</a>
            <a class="dropdown-item" (click)="Tipos('Poision')" href="#">Poision</a>
            <a class="dropdown-item" (click)="Tipos('Ground')" href="#">Ground</a>
            <a class="dropdown-item" (click)="Tipos('Flying')" href="#">Flying</a>
            <a class="dropdown-item" (click)="Tipos('Psychic')" href="#">Psychic</a>
            <a class="dropdown-item" (click)="Tipos('Bug')" href="#">Bug</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" name="search" type="text" placeholder="Buscar els tipus de pokemons..etc"
          aria-label="Search" [(ngModel)]="search">
      </form>
    </div>
  </nav>
  <div class="d-flex m-4">
      <div class="mr-1">
          <p><b>Ordenar per:</b></p>
      </div>
      <div class="dropdown show" style="border: 1px solid black ">
          <a class="btn  dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">Tria un opció</a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" (click)="Opcion('hp')" href="#">Hp</a>
              <a class="dropdown-item"  (click)="Opcion('height')" href="#">Height</a>
              <a class="dropdown-item" (click)="Opcion('attack')" href="#">Attack</a>
              <a class="dropdown-item" (click)="Opcion('speed')" href="#">Speed</a>
          </div>
      </div>
      <div class="ml-4 mt-2" >
          <input type="checkbox" class="form-check-input" id="mostrarestadisticas" [(ngModel)]="checkboxValue" checked>
          <label class="form-check-label" for="mostrarestadisticas"> Mostrar estadistica</label>
      </div>
  </div>
  
  
            <div class="container-fluid">
            <div class="row ">
                <div style=" display:flex; flex-wrap: wrap;" class="w-75 ml-auto mr-auto ">
                        <div *ngFor="let pokemon of listapokemons | PokemonFilterPipe:search | tipoP:tipo "  [ngStyle]="{'margin':'50px'}" style=" border: blue 1px solid; border-radius: 8px" class=" mx-auto my-2 col-12 col-sm-6  col-lg-4 p-0 m-2">
                        <app-etiquetas [pokemon]="pokemon" [checkboxValue]='checkboxValue'></app-etiquetas>
                  </div>
          </div>
          </div>
                </div>
