img{
    width:200px;
    height: 200px;
}
.titulo{
    height: 50px;
    width:100%;
    padding: 0;
    background-color: blue;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.card{
    border-color: blue;
    border-radius: 5px;
    margin: 2px;
    min-width:270px;
}
.imagen{
    width: 20vh;
    height: 20vh;
    background-size: cover;
    margin: 5px;
    padding: 5px;
    border: 1px solid lightgray;
}
.edicion{
    height: 50px;
    width:100%;
    padding: 0;
    background-color: whitesmoke;
    font-weight: bold;
    font-size: 20px;
    border-top: 1px solid lightgray;
}
.divcen{
    display:flex;
    align-content: center;
}
