<div class="row divcen">
  <div *ngFor="let pokemon of listapokemons" style="border: blue 1px solid" class=" m-4 col-12 col-sm-12 col-md-3 col-lg-3 ">
    <div class="titulo  pl-3 pt-2">{{pokemon.name}}</div>
    <div class="row p-2 m-1">
      <div class="imagen p-2 m-2" [style.backgroundImage]="'url('+ pokemon.sprite +')'" [ngStyle]="{'border-bottom' : ' 5px solid ' + pokemon.color +''}"></div>
      <div class="stats mt-2 ml-3">
        <span class="badge badge-info">{{pokemon.types[0]}}</span>
        <span class="badge badge-info ml-2">{{pokemon.types[1]}}</span>
        <div class="mt-3">
          <p><b>Height:</b>{{pokemon.height}}</p>
          <p><b>Weight:</b> {{pokemon.weight}}</p>
          <p><b>Color:</b> {{pokemon.color}}</p>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="col-12 p-0 ">
        <div class="row">
          <div class="col-4">
            <p><b>HP</b></p>
          </div>
          <div class="col-8">
            <div class="progress">
              <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [ngStyle]="{'width' : '' + pokemon.hp +'%'}"
                aria-valuenow="100" aria-valuemin="0" aria-valuemax="200">{{pokemon.hp}}%</div>
            </div>
          </div>
          <div class="col-12">
            <div class="row">
              <div class="col-4">
                <p><b>Attack</b></p>
              </div>
              <div class="col-8">
                <div class="progress">
                  <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 25%"[ngStyle]="{'width' : '' + pokemon.attack +'%'}"
                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="200">{{pokemon.attack}}%</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="row">
              <div class="col-4">
                <p><b>Defense</b></p>
              </div>
              <div class="col-8">
                <div class="progress">
                  <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 25%" [ngStyle]="{'width' : '' + pokemon.defense +'%'}"
                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="200">{{pokemon.defense}}%</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="row">
              <div class="col-4">
                <p><b>Speed</b></p>
              </div>
              <div class="col-8">
                <div class="progress">
                  <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 25%" [ngStyle]="{'width' : '' + pokemon.speed +'%'}"
                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="200">{{pokemon.speed}}%</div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="card-body edicion p-0">
      <div class="p-2 ml-2">
        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal"
          style="color:white"><i class="fa fa-pencil"></i> Editar</button>
        <button type="button" class="btn btn-danger ml-2"><i class="fa fa-trash"></i> Esborrar</button>
      </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edició pokemon</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="col-12">
              <div class="row">
                <div class="col-4 ml-4">
                  <p><b>Name:</b></p>
                </div>
                <div class="col-6">
                  <p>{{pokemon.name}}</p>
                </div>
                <div class="col-4 ml-4">
                  <p><b>HP:</b></p>
                </div>
                <div class="col-6">
                  <div class="input-group mb-2 mr-sm-2">
                    <input type="text" class="form-control" placeholder="25">
                    <div class="input-group-prepend">
                      <div class="input-group-text">%</div>
                    </div>
                  </div>
                </div>
                <div class="col-4 ml-4">
                  <p><b>Attack:</b></p>
                </div>
                <div class="col-6">
                  <div class="input-group mb-2 mr-sm-2">
                    <input type="text" class="form-control" placeholder="25">
                    <div class="input-group-prepend">
                      <div class="input-group-text">%</div>
                    </div>
                  </div>
                </div>
                <div class="col-4 ml-4">
                  <p><b>Defense:</b></p>
                </div>
                <div class="col-6">
                  <div class="input-group mb-2 mr-sm-2">
                    <input type="text" class="form-control" placeholder="25">
                    <div class="input-group-prepend">
                      <div class="input-group-text">%</div>
                    </div>
                  </div>
                </div>
                <div class="col-4 ml-4">
                  <p><b>Speed:</b></p>
                </div>
                <div class="col-6">
                  <div class="input-group mb-2 mr-sm-2">
                    
                    <input type="text" class="form-control" placeholder="25">
                    <div class="input-group-prepend">
                      <div class="input-group-text">%</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <div class="col-12 p-0">
                  <div class="row">
                <button type="button" class="btn btn-success col-6"><i class="fa fa-check-circle"></i> Guardar</button>
                <button type="button" class="btn btn-danger col-6" data-dismiss="modal"><i class="fa fa-times-circle-o"></i> Cancel·lar</button>
              </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
